<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.User">
        <activity
            android:name=".SearchStore"
            android:exported="false" />
        <activity
            android:name=".ShowSearchStoreResult"
            android:exported="false" />
        <activity
            android:name=".UserConfirmEditEvaluation"
            android:exported="false" />
        <activity
            android:name=".UserEditEvaluation"
            android:exported="false" />
        <activity
            android:name=".UserShowEvaluationDetail"
            android:exported="false" />
        <activity
            android:name=".ConfirmDeleteReservation"
            android:exported="false" />
        <activity
            android:name=".UserShowReservationDetail"
            android:exported="false" />
        <activity
            android:name=".UserShowCurrentReservations"
            android:exported="false" />
        <activity
            android:name=".UserShowCurrentEvaluations"
            android:exported="false" />
        <activity
            android:name=".UserWithdrawal"
            android:exported="false" />
        <activity
            android:name=".UserChangeAccountInfo"
            android:exported="false" />
        <activity
            android:name=".UserShowAccountInfo"
            android:exported="false" />
        <activity
            android:name=".User"
            android:exported="false" />
        <activity
            android:name=".UserLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowResult"
            android:exported="false" />
        <activity
            android:name=".UserRegisterAccount"
            android:exported="false" />
    </application>

</manifest>